
c:\Users\Jmj\Downloads\CP210x_Universal_Windows_Driver\arm64 c:\Users\Jmj\Downloads\CP210x_Universal_Windows_Driver\x64 c:\Users\Jmj\Downloads\CP210x_Universal_Windows_Driver\x86 c:\Users\Jmj\Downloads\CP210x_Universal_Windows_Driver\arm
